In [2]:
import pandas as pd
import numpy as np
from pgmpy.estimators import MaximumLikelihoodEstimator
from pgmpy.models import BayesianModel
from pgmpy.inference import VariableElimination
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'pgmpy'

In [28]:
heartdisease = pd.read_csv('Datasets/heart.csv')
heartdisease = heartdisease.replace('?', np.nan)
display(heartdisease)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [29]:
# display data
print('sample instances from the dataset are given below')
display(heartdisease.head())

#display the attributes name and datatypes
print("\n attributs and datatypes")
display(heartdisease.dtypes)

sample instances from the dataset are given below

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

 attributs and datatypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [30]:
#create model_bayesian network
model=BayesianModel([('age','target'),('sex','target'),('exang','target'),('cp','target'),('target','restecg'),('target','chol')])
model

#learning cpds using maximum likelihood estimators
print('\n learning CPD using Maximumlikelihood estimators')
model.fit(heartdisease,estimator=MaximumLikelihoodEstimator)

#infering with bayesian network
print('\n infering bayesian learning')
heartDiseasetest_infer=VariableElimination(model)

# computing the probability o heartdisease givng restecg
print('\n 1.probability of heartdisease given evidence=restecg : 1')
q1=heartDiseasetest_infer.query(variables=['target'],evidence={'restecg':1})
print(q1)

#computing the probability of heart diasease given cp
print('\n 2.probability of heartdisease given evidence=cp:2')
q2=heartDiseasetest_infer.query(variables=['target'],evidence={'cp':2})
print(q2)

 learning CPD using Maximumlikelihood estimators

 infering bayesian learning

 1.probability of heartdisease given evidence=restecg : 1
+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.4242 |
+-----------+---------------+
| target(1) |        0.5758 |
+-----------+---------------+

 2.probability of heartdisease given evidence=cp:2
+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.3755 |
+-----------+---------------+
| target(1) |        0.6245 |
+-----------+---------------+